@font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

$primary-text-color:#213F7D;
$inactive-color:#545F7D;
$pending-color: #E9B200;
$blacklisted-color: #E4033B;
$active-color: #39CD62;

.optionsModalHidden,.filterModalHidden{
    scale: 0;
}


*{
    box-sizing: border-box;
    margin: 0;

    input::-webkit-inner-spin-button {
            display: none;
        }

    ::-webkit-scrollbar {
             width: 4px;
        }
    
    ::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: gray;
        border-radius: 5px;
        }
}


#App{
    font-family: 'Poppins',sans-serif;
}

#loginPage{
    padding: 0 97px;

    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionGroups{
        width: 45%;
        min-height: 100dvh;
    }

    .logo{
        padding-top: 106px;
    }

    .loginPageImage{
        width: 90%;
        padding-top: 139px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            font-size: 2.5rem;
            font-weight: 700;
            color: $primary-text-color;
        }
    }

    .loginInputGroup{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        border: 2px solid;
        border-radius: 5px;
        border-color: #545F7D26;
        margin-bottom: 24px;
        padding: 10px;
    }

    input{
        width: 100%;
        outline: none;
        border: none;
    }

    button{
        width: 100%;
        background-color: #39CDCC;
        color: white;
        padding: 15px 0;
        outline: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}

#dashboard{
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px;

        .loginInputGroup{
            width: 444px;
            display: flex;
            flex-direction: row;
            align-items: center;
            // margin-bottom: 24px;
            margin-left: 168px;
            
        }

        .loginInputGroup button{
            border: none;
            padding: 13px 21px;
            border-radius: 0 5px 5px 0;
            background-color: #39CDCC;
            cursor: pointer;
        }

        .loginInputGroup input {
            width: 100%;
            padding: 12px;
            outline: none;
            border: 2px solid;
            border-radius: 5px 0 0 5px;
            border-color: #545F7D26;
            }

        .headerGroup{
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }

        .headerGroup div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            color: $primary-text-color;
            cursor: pointer;
        }
    }

    main{
        display: flex;
        flex-direction: row;
    }
}

#sidebar{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .sidebarItemGroup{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    .sidebarItemGroup h1{
        font-size: 0.75rem;
        color: $primary-text-color;
        padding-left: 30px;
    }

    .sidebarItem{
        width: 290px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 30px;
        cursor: pointer;
    }

    .sidebarItemActive{
        background-color: #39cdcd20;
        
    }

    .sidebarItem span{
        color: #545F7D;
        text-transform: capitalize;
    }

    
}

#dashboardContent{
    width: 100%;
    background-color: rgba(239, 239, 239, 0.51);
    min-height: 100dvh;
    max-height: 100dvh;
    padding: 30px;

    .userOverviewCards{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;
        margin-top: 40px;

        .userCards{
            width: 25%;
            background-color: #fff;
            border-radius: 5px;
            padding: 30px;
            color: $primary-text-color;

            .cardTitle{
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 500;
                margin: 12px 0;
            }

            .cardNum{
                font-weight: 600;
                font-size: 1.5rem;
            }
        }

    }

    table {
        position: relative;
        width: 100%;
        margin-top: 40px;
        background-color: #fff;
        padding: 30px;
        border-radius: 4px;
        color: $inactive-color;


        thead{
            width: 100%;
        }

        tbody{
            tr{
                border-bottom: 1px solid rgb(201, 201, 201);

                .organizationName,.username{
                    text-transform: capitalize;
                }
            }
        }

        tr{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            .optionModal {
                    position: absolute;
                    top: 20px;
                    right: 0;
                    width: 170px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 20px;
                    padding: 20px;
                    background-color: #fff;
                    text-transform: capitalize;
                    font-size: 0.875rem;
                    opacity: 90%;
                    transition: 0.3s ease-in-out;
            
                    .optionModalRow {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;
                    }
            
                }
        }
    
        th {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
            font-size: 12px;
            gap: 10px;

            img{
                cursor: pointer;
            }

            
        }

        .tableItem{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 35px;

            img{
                cursor: pointer;
                padding: 2px;
            }
        }

        .filterModal{
            position: absolute;
            top: 60px;
            left: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            padding: 20px;
            border-radius: 4px;
            border: 1px solid rgb(201, 201, 201);
            background-color: #fff;
            font-size: 0.875rem;
            transition: 0.3s ease-in-out;

            .filterRow{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 6px;

                label{
                    text-transform: capitalize;
                    font-weight: 500;
                }

                input,select{
                    width: 230px;
                    outline: none;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid rgb(201, 201, 201);;
                }
            }

            .filterButtonsGroup{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                width: 100%;

                button{
                    border-radius: 5px;
                    padding: 11px 30px;
                    width: 100px;
                    font-weight: 600;
                }
            }
        }

    }
   
}


#userDetails{
    width: 100%;
    background-color: rgba(239, 239, 239, 0.51);
    min-height: 100dvh;
    max-height: 100dvh;
    padding: 30px;

    .headingGroup{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
       
        h1{
            color: $inactive-color;
            font-weight: 500;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        .headingButtonGroup{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            button {
                background-color: transparent;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.875rem;
                border-radius: 8px;
                padding: 12px 16px;
                border:  1px solid;
                cursor: pointer;
            }

        }
    }

        .topDetailsCard {
            width: 100%;
            padding: 30px 30px 0 30px;
            margin-top: 40px;
            background-color: #fff;
            border-radius: 4px;
    
            .topSection {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                width: 100%;
    
                .nameAndRegNumber {
                    h2 {
                        color: $primary-text-color;
                        font-size: 1.375rem;
                        font-weight: 500;
                    }

                    p{
                        font-size: 0.875rem;
                    }
                }
    
                .starsGroup {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }

            .bottomSection{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0;
                margin-top: 50px;

                li{
                    padding-bottom: 2px;
                    list-style-type: none;
                    text-transform: capitalize;
                }
            }
    
        }

        .bottomDetailsCard{
            
        }
}